* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 1000px) {
  html {
    font-size: 80%;
    color: #d0e9f2;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 60%;
    color: #fff;
  }
}

#navbar {
  width: 100%;
  background-color: #9cb0d9;
  position: fixed;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 1rem;
}

.nav-list a {
  display: block;
  color: #bed2fb;
  padding: 1.5rem;
  font-size: xx-large;
}

.nav-list a:hover {
  background-color: #d0e9f2;
}

#welcome-section {
  background-color: #7289da;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

#projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}

#projects h3 {
  font-size: 3rem;
  color: #f0a13c;
  padding-bottom: 1.75rem;
}

.projects-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-tile {
  margin: 0.5rem;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 370px;
  background-color: #f0a13c;
  font-size: 2rem;
}

#contact h1,
h4 {
  padding-bottom: 1rem;
  color: #7a90b7;
}

#contact div {
  display: flex;
  justify-content: center;
}

#contact div a {
  padding: 2rem;
  font-size: 1.5rem;
  color: #7091d4;
  text-shadow: 2px 2px 2px #1f1f1f;
  transition: transform 0.3s linear;
}

#contact div a:hover {
  transform: translateY(-8px);
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: large;
}
