* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: "Bebas Neue", cursive;
  font-size: 4.5em;
  text-align: center;
  background-color: black;
  color: #fff;
}

main {
  background-image: url("/images/sw-gradientstars.png");
}

.mainContainer {
  display: flex;
  color: #fff;
}

.nav {
  margin-left: 2em;
  color: #fff;
}

a {
  font-size: 1em;
  color: #fff;
  font-family: "Bebas Neue", cursive;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.box {
  background-color: #2a5d8f;
  font-size: 2em;
  text-align: center;
  color: darkgrey;
  font-family: "Poppins", sans-serif;
}

.shipName {
  font-size: 2.5em;
  font-family: "Bebas Neue", cursive;
  padding-top: .5em;
}

footer p {
  font-family: "Bebas Neue", cursive;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  background-color: #2a5d8f;
}