* {
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 2em 0;
}

button {
    font-size: 2.5em;
    color: #dceaf2;
    background-color: #2a5d8f;
    border-radius: 10px;
    font-family: "Bebas Neue", cursive;
}

button:hover {
    background-color: #6a86a1;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: center;
}

figure {
    margin: 8px;
}

figure img {
    width: 200px;
}

figcaption {
    color: #dceaf2;
    font-family: "Bebas Neue", cursive;
    font-size: 1.5em;
    text-align: center;
}